<%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <!-- Navbar -->
            <%- include('../partials/navbar') %>
                <!-- End Navbar -->
                <div class="container-fluid py-4">
                    <style>
                        body {
                            height: 100vh;
                        }
                    </style>
                    <div class="card-header">
                        <h5>Edit Product
                            <a href="/admin/products/index" class="btn btn-sm btn-primary float-right">List</a>
                        </h5>
                    </div>

                    <div class="card-body pt-0">
                        <!-- <form method="post" action="" enctype="multipart/form-data"> -->
                        <form action="/admin/products/update/<%= product._id %> " method="post" class="text-start"
                            enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label mt-4">Name</label>
                                    <div class="input-group">
                                        <input type="text" value="<%= product.name %>" name="name" class="form-control">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label class="form-label mt-4">Category</label>
                                    <div class="select-group">
                                        <select name="category_id" class="form-control">
                                            <option value="">Select Category</option>
                                         
                                            <% categories.forEach((value, index)=> { %>
    
                                                <option value="<%= value._id %>" <%= String(product.category_id) === String(value._id) ? "selected": ""%>  d="<%= product.category_id %>" >
                                                            <%= value.title %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label mt-4">Price</label>
                                    <div class="input-group">
                                        <input type="text" value="<%= product.price %>" name="price"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label class="form-label mt-4">Discount Price</label>
                                    <div class="input-group">
                                        <input type="text" value="<%= product.discount_price %>" name="discount_price"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label class="form-label mt-4">Description</label>
                                    <div class="input-group">
                                        <input type="text" value="<%= product.description %>" name="description"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <label class="form-label mt-4">Image</label>
                                    <div class="input-group">
                                        <input type="file" name="image" class="form-control">
                                    </div>
                                    <img src="<%= product.image %>" class="avatar lg rounded me-2" alt="profile-image">
                                </div>
                            </div>
                            <div class="button-row d-flex mt-4">
                                <button class="btn bg-gradient-dark btn-sm ms-auto mb-0 js-btn-next" type="submit"
                                    title="Update">Update</button>
                            </div>
                        </form>
                    </div>
                    <%- include('../partials/footer') %>
                </div>
        </main>
        <%- include('../partials/script') %>